@using GSM.Infrastructure.Filters
@using GSM.Utils
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @Styles.Render("~/angular/css")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
}

<div class="row">
    <div class="col-md-2">
        <ul class="nav navbar-left">
            <li style="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "font-weight:bold" : "")">@Html.ActionLink("Search Synthesis Request", "Index", "SynthesisRequest")</li>
            @if (User.HasPermissions(Permission.CreateSynthesisRequest))
            {
                <li style="@(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "font-weight:bold" : "")">@Html.ActionLink("Create Synthesis Request", "Create", "SynthesisRequest")</li>
            }
            <li style="@(ViewContext.RouteData.Values["Action"].ToString() == "ExportSequence" ? "font-weight:bold" : "")">@Html.ActionLink("Export Sequence File", "ExportSequence", "SynthesisRequest")</li>
        </ul>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
}
