@using GSM.Infrastructure.Filters
@using GSM.Utils
@{
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css")
    <link href="~/Content/angular-toastr/angular-toastr.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
}

<div class="row">
    <div class="col-md-2">
        <ul class="nav navbar-left">
            <li style="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "font-weight:bold" : "")">@Html.ActionLink("Search Mod Structures", "Index", "ModStructure")</li>
            @if (User.HasPermissions(Permission.ManageModStructure))
            {
                <li style="@(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "font-weight:bold" : "")">@Html.ActionLink("Create Mod Structure", "Create", "ModStructure")</li>
            }
        </ul>
    </div>
    @RenderBody()
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angular-colorpicker")
    <script src="~/Scripts/angular-toastr/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="~/Scripts/ng-file-upload/ng-file-upload.js"></script>
    @RenderSection("scripts", required: false)
}
